/* SASS-HEADER */

.hero {
    grid-area: header;
    background-color: $colorBackgroundHeader;
    color: black;
}

.nav-logo {
    transition: 1s;
        padding: 2px;
        &:hover {
            transform: scale(1.1, 1.1);
            transition: 1s;
        }
}
/* SASS-HEADER-END */



