@import "variables";
@import "generales";
@import "header";
@import "footer";
@import "media";


/* SASS-MAIN-INDEX */
.main-index {
    grid-area: main;
    display: grid;
    align-content: center;
    .main-container {
        display: grid;
        justify-content: center;
        align-content: center;
        margin: 30px 15px;
        gap: 50px;
        .main-cont-p1 {
            font-size: 35px;
        }
        .main-cont-h1 {
            font-size: 45px;
        }
        .main-cont-p2 {
            font-size: 25px;
        }
        .main-div-a {
            .main-cont-a {
                text-decoration: none;
                color: black;
                font-size: 20px;
                padding: 5px;
                border-radius: 10px;
                background: linear-gradient(rgb(223, 222, 222), rgba(216, 216, 245, 0.068));
                box-shadow: 3px 3px 4px #dcdde7;
                transition: 1s;
                &:hover {
                    box-shadow: 2px 2px 6px #b2b2b4;
                    transition: 1s;
                }
            }
        }
    }
}
/* SASS-MAIN-INDEX-END */



/* SASS-MAIN-ACD */
.main-acd {
    grid-area: main;
    display: grid;
    align-items: center;
    .div-img-acd {
        display: grid;
        justify-content: center;
        align-items: center;
        img {
            width: 200px;
        border-radius: 50%;
        box-shadow: 2px 3px 25px rgba(0, 0, 0, 0.411);
        transition: all 1s;
        &:hover {
            box-shadow: 4px 6px 25px rgb(20, 20, 20);
            transform: scale(1.1, 1.1);
            transition: all 2s;
        }
        }
    }
}
/* SASS-MAIN-ACD-END */



/* SASS-MAIN-EXP */
.main-exp-container {
    grid-area: main;
    display: grid;
    align-content: center;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr auto;
    .main-exp-div-1 {
        display: grid;
        text-align: center;
        font-size: 20px;
        padding: 20px;
        gap: 5px;
    }
    .main-exp-div-2 {
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
        text-align: center;
        margin: 15px 0px;
        .cont-exp-div {
            padding: 20px;
            .div-img-exp {
                width: 200PX;
                height: 200px;
                margin: 30px 10px;
                border-radius: 50%;
                box-shadow: 1px 1px 15px rgba(0, 0, 0, 0.61);
                transition: 1s;
                &:hover {
                    transform: scale(1.3, 1.3);
                    margin: 50px 10px;
                    border-radius: 5px;
                    transition: 1s;
                }
            }
        }
    }
}
/* SASS-MAIN-EXP-END */



/* SASS-MAIN-REDES */
.main-redes {
    grid-area: main;
    display: grid;
    justify-content: center;
    align-items: center;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr auto;
    .div-redes-1 {
        display: grid;
        justify-content: center;
        align-items: center;
        text-align: center;
        .cont-div-redes-h1 {
            margin: 10px;
            border-radius: 20px;
            background: linear-gradient(rgba(253, 253, 253, 0.466), rgba(241, 235, 235, 0.664)); 
        }
    }
    .cont-div-redes-icon {
        display: grid;
        gap: 40px;
        grid-template-columns: repeat(3, 1fr);
        .cont-div-redes-img {
            .redes-r {
                box-shadow: 3px 3px 8px rgb(119, 119, 119);
                transition: all 1s;
                padding: 3px;
                border-radius: 10px;
                width: 45px;
                &:hover {
                    box-shadow: 4px 6px 15px rgb(202, 185, 185);
                    transform: scale(1.1, 1.1);
                    transition: all 1s;
                }
            }
        }
    }
    .div-redes-2 {
        box-shadow: 2px 4px 10px black;
        margin: 30px auto;
        transition: 2s;
        &:hover {
            transform: scale(1.1, 1.1);
            transition: 2s;
        }
    }
}
/* SASS-MAIN-REDES-END */



/* SASS-MAIN-CONT */
.div-contact {
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 90vh;
    .form-contact {
        padding: 50px 55px;
        box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
        border-radius: 20px;
        text-align: center;
        width: 420px;
        .h1-form {
            color: #283629;
            font-size: 35px;
            margin-bottom: 15px;
        }
        .input-group {
            display: flex;
            flex-direction: column;
            text-align: left;
            
            label {
                font-size: 15px;
                font-weight: 600;
                margin-bottom: 15px;
            }
            input, textarea {
                padding: 17px 25px;
                margin-bottom: 20px;
                background-color: #E0F4F5;
                border: 2px solid #F0FAF1;
                color: #015366;
                outline: none;
                input::placeholder, textarea::placeholder {
                    color: #A7D1D2;
                }
            }
            .form-txt {
                margin-bottom: 30px;
                display: flex;
                justify-content: space-between;
                text-align: center;
                a {
                    color: #63898C;
                    font-size: 14px;
                    font-weight: 600;
                    text-decoration: none;
                }
            }
            
        }
        
        .btn {
            font-size: 16px;
            color: white;
            border: 0;
            background-color: #015366;
            box-shadow: 0 0 20px rgba(161, 238, 235, 0.7);
            cursor: pointer;
            transition: 1s;
            &:hover {
                background-color: #72d8dd;
                box-shadow: 2px 4px 20px rgba(114, 255, 250, 0.815);
                transition: 1s;
            }
        }
    }
}
/* SASS-MAIN-CONT-END */





  






